* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
.container {
  width: 80%;
  margin: 0 auto;
  height: 100%;
}

.primary-button {
  cursor: pointer;
  padding: 15px 15px;
  color: #00e0d0;
  font: 16px 'HammersmithOne', sans-serif;;
  border:  solid 2px #00e0d0;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: uppercase;
  transition: all 0.3s ease;
}
.primary-button:hover {
  background: #d6f3f2;
}