nav {
  height: 150px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

/* hitted navbar */
html[data-scroll='not-top'] nav {
  background-color: rgba(65, 48, 108, 1.8);
  transition: 0.3ms;
  height: 150px;
}

nav .content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}

.logo {
  height: 50px;
}

nav ul {
  display: flex;
}

nav ul li a {
  color: white;
  padding: 10px 15px;
  font: 900 13px 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.33px;
  transition: color 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
  color: #10c9c3;
}

header {
  background-image: linear-gradient(
      to top,
      rgba(9, 5, 47, 0.8),
      rgba(49, 29, 94, 0.8)
    ),
    url('../assets/images/back-image.png');
  /* background-image: url(../assets/images/back-image.png); */
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

header .content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header .content .header-legend {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header .content .header-legend .separator{
  background-color: #00e0d0;

}
header .content h1 {
  text-align: center;
  font: 900 32px 'PlayfairDisplay' sans-serif;
  letter-spacing: 0.32px;
  color: white;
  margin-bottom: 20px;
  margin-top: 100px;
}
header .content p {
  text-align: center;
  font: 300 14px 'Roboto', sans-serif;
  letter-spacing: 0.7px;
  color: white;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 50%;
}

section.story {
  background: white;
  padding: 100px 0;
}
section.story .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.story .container .content .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.story .content .story-logo {
  height: 230px;
}

section.story .container .content .wrapper .left {
  width: 40%;
  text-align: right;
  margin-right: 100px;
}
section.story .container .content .wrapper .right {
  display: flex;
  width: 60%;
  flex-direction: column;
  margin-bottom: 30px;
}
section.story .container .content .wrapper .right h2 {
  font: 900 32px 'PlayfairDisplay' sans-serif;
  letter-spacing: 1.1px;
  text-align: left;
  color: #413d4b;
}
section.story .container .content .wrapper .right .text {
  margin-top: 15px;
  margin-bottom: 15px;
}
section.story .container .content .wrapper .right .text p {
  font: 300 14px 'Roboto' sans-serif;
  letter-spacing: 0.42px;
  text-align: left;
  color: rgba(65, 61, 75, 0.75);
  opacity: 0.75;
}
section.watch-story {
  background-image: linear-gradient(
      to top,
      rgba(9, 5, 47, 0.8),
      rgba(49, 29, 94, 0.8)
    ),
    url('../assets/images/put-your-image-here@3x.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
section.watch-story .content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}
section.watch-story .watch-story-logo {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  cursor: pointer;
}
section.watch-story .watch-story-logo {
  height: 100px;
}
section.watch-story .watch-story-legend {
  margin-top: 170px;
}
section.watch-story .content .watch-story-legend h3 {
  font: 900 16px 'Roboto';
  letter-spacing: 0.8px;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

section.expertise {
  background: white;
  padding: 70px 0;
}
section.expertise .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.expertise .container .content h2 {
  font: 900 22px 'PlayfairDisplay';
  letter-spacing: 1.1px;
  text-align: left;
  color: #413d4b;
}

section.expertise .container .content p {
  font: 14px 'PlayfairDisplay';
  letter-spacing: 1.05px;
  text-align: center;
  color: rgba(47, 45, 53, 0.75);
  opacity: 0.75;
  margin: 20px 0px;
}
section.expertise .content .expertise-items{
  display: flex;
}
section.expertise .content .expertise-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.expertise .content .expertise-item .expertise-item-img{
  height: 50px;
}