nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 30px 0px;
}

/* hitted navbar */
html[data-scroll='not-top'] nav {
  background-color: rgba(65, 48, 108, 1.8);
  transition: 0.3ms;
}

nav .content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 50px;
}

nav ul {
  display: flex;
}

nav ul li a {
  color: white;
  padding: 10px 15px;
  font: 900 13px 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.33px;
  transition: color 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
  color: #10c9c3;
}

header {
  background-image: linear-gradient(
      to top,
      rgba(9, 5, 47, 0.8),
      rgba(49, 29, 94, 0.8)
    ),
    url(../assets/images/back-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  padding: 70px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

header .content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header .content .header-legend {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header .content .header-legend .separator {
  background-color: #00e0d0;
}
header .content h1 {
  text-align: center;
  font: 900 32px 'PlayfairDisplay', serif;
  letter-spacing: 0.32px;
  color: white;
  margin-bottom: 20px;
}
header .content p {
  text-align: center;
  font: 300 14px 'Roboto', sans-serif;
  letter-spacing: 0.7px;
  line-height: 1.71;
  color: white;
  margin: 50px 0px;
  width: 50%;
}
header .points {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-left: 0;
  position: absolute;
}
header .point {
  height: 10px;
  width: 10px;
  margin: 5px;
  border: 1px solid #c2c2c2;
  box-sizing: border-box;
  border-radius: 50%;
}
header .active-point {
  height: 10px;
  width: 10px;
  margin: 5px;
  background-color: #00e0d0;
  border-radius: 50%;
}

section.story {
  background: white;
  padding: 100px 0;
}
section.story .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.story .container .content .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.story .content .story-logo {
  height: 230px;
}
section.story .container .content .wrapper .left {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.story .container .content .wrapper .right {
  display: flex;
  width: 60%;
  flex-direction: column;
}
section.story .container .content .wrapper .right h2 {
  font: 900 22px 'PlayfairDisplay', serif;
  letter-spacing: 1.1px;
  text-align: left;
  color: #413d4b;
}
section.story .container .content .wrapper .right .text {
  margin-top: 15px;
  margin-bottom: 15px;
}
section.story .container .content .wrapper .right .text p {
  font: 300 14px 'Roboto', sans-serif;
  letter-spacing: 0.42px;
  line-height: 1.57;
  text-align: left;
  color: rgba(65, 61, 75, 0.75);
  opacity: 0.75;
}

section.watch-story {
  background-image: linear-gradient(
      to top,
      rgba(9, 5, 47, 0.8),
      rgba(49, 29, 94, 0.8)
    ),
    url('../assets/images/put-your-image-here@3x.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  min-height: 550px;
  /* padding: 70px 0px; */
  display: flex;
}
section.watch-story .content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}
section.watch-story .content .show-video {
  position: absolute;
  /* top: 0; */
  /* left: 0; */
  /* right: 0; */
  /* bottom: 0; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.watch-story .content .show-video .watch-story-img {
  background: transparent;
  border-radius: 50px;
  height: 100px;
  width: 100px;
}
section.watch-story .content .show-video .watch-story-logo {
  height: 100%;
  width: 100%;
  cursor: pointer;
  object-fit: cover;
}
section.watch-story .content .watch-story-legend h3 {
  font: 900 16px 'Roboto', sans-serif;
  letter-spacing: 0.8px;
  color: white;
  text-transform: uppercase;
  margin-top: 30px;
}

section.expertise {
  background: white;
  padding: 70px 0;
}
section.expertise .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.expertise .container .content h2 {
  font: 900 22px 'PlayfairDisplay', serif;
  letter-spacing: 1.1px;
  text-align: left;
  color: #413d4b;
}
section.expertise .container .content > p {
  font: 14px 'PlayfairDisplay', serif;
  letter-spacing: 1.05px;
  text-align: center;
  color: rgba(47, 45, 53, 0.75);
  opacity: 0.75;
  margin: 20px 0px;
}
section.expertise .content .expertise-items {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin-top: 80px;
}
section.expertise .content .expertise-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: calc(33.3% - 2px);
  padding: 25px 25px;
}
section.expertise .content .expertise-item .expertise-item-img {
  height: 50px;
}
section.expertise .content .expertise-item h4 {
  font: 900 14px 'Roboto', sans-serif;
  letter-spacing: 0.7px;
  line-height: 1.57;
  text-align: center;
  color: #413d4b;
  margin: 30px 0px;
}
section.expertise .content .expertise-items .expertise-item > p {
  font: 300 14px 'Roboto', sans-serif;
  opacity: 0.75;
  letter-spacing: 0.7px;
  line-height: 1.57;
  text-align: center;
  color: rgba(51, 51, 51, 0.75);
}

section.team {
  background-image: linear-gradient(
      to top,
      rgba(9, 5, 47, 0.8),
      rgba(49, 29, 94, 0.8)
    ),
    url('../assets/images/team-image.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding: 70px 0px;
}
section.team .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.team .team-legend {
  width: 100%;
}
section.team .team-legend-heder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.team h1 {
  font: 900 22px 'PlayfairDisplay', serif;
  letter-spacing: 1.1px;
  text-align: center;
  color: white;
}
section.team p {
  font: 14px 'PlayfairDisplay', serif;
  letter-spacing: 1.05px;
  text-align: center;
  color: #f9f9f9;
  margin: 20px 0px;
}
section.team .separator {
  background-color: white;
}
section.team .content .team-legend .team-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 70px 0px;
}
section.team .content .team-legend .team-items .team-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #e1e1e1;
  margin: 10px;
}
section.team .content .team-legend .team-items .team-item h4 {
  font: 900 14px 'Roboto', sans-serif;
  opacity: 0.75;
  letter-spacing: 0.7px;
  text-align: center;
  color: #ffff;
  padding-top: 20px;
}
section.team .content .team-legend .team-items .team-item .team-item-photo {
  height: 220px;
  width: 100%;
}
section.team .content .team-legend p {
  font: 300 14px 'Roboto', serif;
  letter-spacing: 0.7px;
  text-align: center;
  color: hsl(0, 0%, 95%);
}

section.works {
  padding: 70px 0px;
}
section.works .works-legend {
  display: flex;
  justify-content: space-around;
  padding-bottom: 70px;
}
section.works .works-legend h2 {
  font: 900 22px 'PlayfairDisplay', serif;
  letter-spacing: 1.1px;
  text-align: center;
  color: #413d4b;
}
section.works .works-legend p {
  font: 300 14px 'Roboto', sans-serif;
  letter-spacing: 0.7px;
  text-align: center;
  color: #413d4b;
}
section.works .works-items {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 70px;
}
section.works .work-item-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.works .work-item {
  height: 200px;
  width: calc(100% / 6);
}
section.works .botton {
  display: flex;
  justify-content: center;
  align-items: center;
}

section.quote {
  background-image: linear-gradient(
      to top,
      rgba(9, 5, 47, 0.8),
      rgba(49, 29, 94, 0.8)
    ),
    url('../assets/images/quote-image.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
section.quote .content h2 {
  font: 300 100px 'PlayfairDisplay', serif;
  opacity: 0.9;
  color: rgb(255, 255, 255);
  margin-top: 70px;
}
section.quote .content p {
  font: 16px 'PlayfairDisplay', serif;
  opacity: 0.85;
  letter-spacing: 0.4px;
  line-height: 1.63;
  color: white;
  padding-bottom: 50px;
  text-align: center;
}
section.quote .content h4 {
  font: 900 14px 'Roboto', sans-serif;
  letter-spacing: 0.7px;
  color: #fff;
  text-align: center;
}
section.quote .content h5 {
  font: 300 13px 'Roboto', sans-serif;
  letter-spacing: 0.7px;
  opacity: 0.7;
  color: #fff;
  padding: 13px 0px;
  text-align: center;
}
section.quote .content .quote-imgs {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 70px 0px;
}
section.quote .content .quote-imgs .marks {
  height: 20px;
  width: 10px;
  color: white;
}
section.quote .content .quote-imgs .quote-img > img {
  margin: 7px;
  height: 45px;
  width: 45px;
}
section.quote .content .quote-imgs .quote-img-active > img {
  height: 70px;
  width: 70px;
  margin: 7px;
}
section.quote .content .quote-imgs i {
  height: 10px;
  width: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
section.quote .content .quote-imgs .right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
section.quote .content .quote-imgs .left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
section.feedback {
  padding: 70px 0px;
}
section.feedback .content {
  display: flex;
  justify-content: space-between;
}
section.feedback .left {
  width: calc(50% - 5px);
}
section.feedback .right {
  width: calc(50% - 5px);
}
section.feedback .left h2 {
  font: 900 22px 'PlayfairDisplay', serif;
  letter-spacing: 1.1px;
  text-align: left;
  color: #413d4b;
  margin-bottom: 15px;
}
section.feedback .left .data {
  display: flex;
  flex-direction: column;
}
section.feedback .left .data input,
textarea {
  margin: 10px 0px;
  padding: 20px;
}
section.feedback input,
textarea {
  width: 100%;
  border: 1px solid rgba(65, 61, 75, 0.5);
  box-sizing: border-box;
  resize: none;
}
section.feedback input::placeholder,
section.feedback textarea::placeholder {
  text-align: left;
  font: 300 14px 'Roboto', sans-serif;
  opacity: 0.5;
  letter-spacing: 0.7px;
}
section.feedback .left .data .primary-button {
  width: 25%;
  margin-top: 10px;
}
section.feedback .right h2 {
  font: 900 22px 'PlayfairDisplay', serif;
  letter-spacing: 1.1px;
  text-align: left;
  color: #413d4b;
}

footer {
  background-image: linear-gradient(
      to top,
      rgba(9, 5, 47, 0.8),
      rgba(49, 29, 94, 0.8)
    ),
    url('../assets/images/footer-image.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}
footer .topiks {
  display: flex;
}
footer .topiks .left {
  width: calc(100% / 3);
  color: #fff;
  margin: 80px 0px;
}
footer .topiks .left p,
footer .topiks .center p {
  font: 300 14px 'Roboto', serif;
  line-height: 1.86;
  letter-spacing: 0.35px;
  text-align: left;
  margin-right: 20px;
}

footer .topiks .left p {
  margin-top: 40px;
}
footer .topiks .center {
  width: calc(100% / 3);
  color: #fff;
  margin: 100px 0px;
}
footer .topiks .center p {
  margin-top: 45px;
  margin-bottom: 30px;
}
footer .topiks .center h4,
footer .topiks .right h4 {
  font: 900 15px 'Roboto', serif;
  line-height: 1.86;
  letter-spacing: 0.35px;
  text-align: left;
}
footer .topiks .right {
  width: calc(100% / 3);
  color: #fff;
  margin: 100px 0px;
}
footer .topiks .right .box {
  padding: 17px;
  margin: 40px 0px;
  border: 1px solid #fff;
  font: 300 15px 'Roboto', serif;
  letter-spacing: 0.7px;
  text-align: left;
  opacity: 0.75;
}
footer .under {
  display: flex;
  color: #fff;
  margin-bottom: 70px;
}
footer .under .left {
  width: 50%;
  display: flex;
  justify-content: space-between;
  text-align: left;
}
footer .under .left h5 {
  font: 14px 'Roboto', serif;
  letter-spacing: 0.35px;
}
footer .under .right {
  width: 50%;
}
footer .under .right p {
  font: 14px 'Roboto', serif;
  letter-spacing: 0.35px;
  text-align: right;
}
